# Ignore virtual environment
venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
.env

bean_app/models/vit_model.pt
*.pt
.venv/
.venv/
__pycache__/
.ipynb_checkpoints/
*.pt
*.pth
*.venv/
__pycache__/
.ipynb_checkpoints/
*.pt
*.pth
.ipynb_checkpoints/
__pycache__/
